@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

header{
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	text-align: center;
	font-size: 2.5em;
}

.cSong{

}

#sName{
	display: inline;
	color: #FF0000;
}

form{
	text-align: center;
}

#history{
	height: 200px;
	overflow-y: hidden;
	width: 50%;
	float: right;
}

#nav{
	width: 45%;
	float: left;
	overflow-y: scroll;
	height: 250px;
}

#nav button{
	width: 100%;
}